[Desktop Entry]
Type=Application
Name=Fix Keyboard Layout
Comment=Convert selected text to the other keyboard layout
Exec=@BIN@
Icon=input-keyboard
NoDisplay=true
StartupNotify=false
X-KDE-GlobalAccel-CommandShortcut=true
X-KDE-Shortcuts=F24
